<div class="navbar">
        
    <div class="flex-navbar">
        <div class="logo">
            <img src = "/img/logo.svg"  width = "60px" height = "60px" />
        </div>
        <ul>
            <li><a href = "/"> Home</a></li> 
      
        </ul>
        <div class="login-navbar">
            
            
            
            <span><a href = "/" style = "color:cornflowerblue;">Meu perfil </a> </span>
        </div>
    </div>
    
   

</div>