<%- include('./partials/head.ejs') %>
<%- include('./partials/navbarSession.ejs') %>
<main>
    <div class="bg-main">
        
        <div class="black-transparent">  
          
            <h1> Seu Título Aqui </h1>
            <p style = "text-align:justify;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam tempor faucibus tellus, quis tincidunt ligula efficitur quis. Mauris ut sapien vel risus commodo gravida. Donec elementum dapibus ipsum. Morbi eu odio orci. Etiam fermentum erat nec felis maximus, vitae tristique lorem lacinia. Etiam hendrerit lorem sit amet mi accumsan finibus. Aenean ultrices nisi purus, non commodo arcu tincidunt in. Duis congue ex ut nisi varius, id dapibus ex feugiat. Pellentesque et porttitor lacus, sit amet varius quam. Quisque rhoncus elementum orci, eu varius eros pellentesque lobortis. </p>
            
            <div class="buttons-main">
                <a href="#" class="btn btn-success">Ler mais</a>
                
            </div>
            
        </div>
        

        
    </div>
    
   
    <section class="pricing-table">
      <div class="container">
          <div class="block-heading">
            <h2>Planos</h2>
            <p>Confira alguns de nossos planos: </p>
          </div>
          <div class="row justify-content-md-center">
              <div class="col-md-5 col-lg-4">
                  <div class="item">  
                      <div class="heading">
                          <h3>Plano Simples</h3>
                      </div>
                      <p>Texto sobre o Plano.</p>
                      <div class="features">
                          <h4><span class="feature">Suporte Extra</span> : <span class="value">Sim</span></h4>
                          <h4><span class="feature">Benefícios</span> : <span class="value">Sim</span></h4>
                          <h4><span class="feature">Duração do plano</span> : <span class="value">60 dias</span></h4>
                          <h4><span class="feature">Álbum: </span> : <span class="value">Não</span></h4>
                          <h4><span class="feature">Descontos: </span> : <span class="value">Não</span></h4>
                          <h4><span class="feature">Conteúdo Ilimitado: </span> : <span class="value">Não</span></h4>
                      </div>
                      <div class="price">
                          <h4>R$25</h4>
                      </div>
                      <button class="btn btn-block btn-outline-primary" type="submit">Comprar</button>
                  </div>
              </div>
              <div class="col-md-5 col-lg-4">
                  <div class="item" style = " border-top: 2px solid #166aca;">
                    <div class="ribbon-price">Ótimo Preço</div>
                      <div class="heading">
                          <h3>Plano Avançado</h3>
                      </div>
                      <p>Texto sobre o Plano.</p>
                      <div class="features">
                        <h4><span class="feature">Suporte Extra</span> : <span class="value">Sim</span></h4>
                        <h4><span class="feature">Benefícios</span> : <span class="value">Sim</span></h4>
                        <h4><span class="feature">Duração do plano</span> : <span class="value">180 dias</span></h4>
                        <h4><span class="feature">Álbum: </span> : <span class="value">Sim</span></h4>
                        <h4><span class="feature">Descontos: </span> : <span class="value">Sim</span></h4>
                        <h4><span class="feature">Conteúdo Ilimitado: </span> : <span class="value">Não</span></h4>
                      </div>
                      <div class="price">
                          <h4>R$50</h4>
                      </div>
                      <button class="btn btn-block btn-outline-primary" type="submit">Comprar</button>
                  </div>
              </div>
              <div class="col-md-5 col-lg-4">
                  <div class="item" style = " border-top: 2px solid #4dbe3b;">
                    <div class="ribbon-offer">Oferta</div>
                      <div class="heading">
                          <h3>Plano Profissional</h3>
                      </div>
                      <p>Texto sobre o Plano.</p>
                      <div class="features">
                        <h4><span class="feature">Suporte Extra</span> : <span class="value">Sim</span></h4>
                        <h4><span class="feature">Benefícios</span> : <span class="value">Sim</span></h4>
                        <h4><span class="feature">Duração do plano</span> : <span class="value">365 dias</span></h4>
                        <h4><span class="feature">Álbum: </span> : <span class="value">Sim</span></h4>
                        <h4><span class="feature">Descontos: </span> : <span class="value">Sim</span></h4>
                        <h4><span class="feature">Conteúdo Ilimitado: </span> : <span class="value">Sim</span></h4>
                      </div>
                      <div class="price">
                          <h5 style = "text-decoration:line-through;">R$150</h5>
                          <h5 style = "color:#4dbe3b;font-size:26px;">R$ 80</h5>
                      </div>
                      <button class="btn btn-block btn-outline-primary" type="submit">Comprar</button>
                  </div>
              </div>
          </div>
      </div>
  </section>
         
                  
    <!--
    <div class="services-fluid">
        <div class="services-container">
            <div class="card" style="width: 28rem;">
                <img class="card-img-top" src="..." alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
              <div class="card" style="width: 28rem;">
                <img class="card-img-top" src="..." alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
              <div class="card" style="width: 28rem;">
                <img class="card-img-top" src="..." alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
        </div>
    </div>
    -->
</main>
<%- include('./partials/footer.ejs') %>